.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

h6 {
  font-size: 25px;
  line-height: 33px;
  font-family: roboto;
  color: #0A0102;
  font-weight: 500;
}

img {
  width: 66px;
  height: 73px;
  padding: 50px 0;
}

p {
  font-size: 15px;
  color: #9D9D9D;
  padding-top: 4px;
}

button {
  background-color: white;
  border: 1px solid #A03037;
  border-radius: 2px;
  width: 127px;
  height: 33px;
  font-size: 12px;
  color: #A03037;
  cursor: pointer;
}


.wishlist-wrapper {
  margin-top: 30px;
  margin-left: 177px;
  margin-right: 167px;

  .wishlist-header {
    font-size: 18px;
    height: 55px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 1px solid #E4E4E4;
    border-radius: 1px;
    opacity: 1;
    text-align: left;
    font-size: 18px;
    line-height: 24px;
    font-weight: medium;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    padding-left: 20px;
    padding-top: 10px;
  }

  .wishlist-card {
    display: flex;
    align-items: center;
    border: 1px solid #E4E4E4;
    opacity: 1;
    padding-left: 30px;
    padding-right: 30px;
    img {
      width: 70px;
      height: 100px;
      margin-right: 20px;
    }

    .book-details {
      flex: 1;

      h4 {
        margin: 0;
      }

      p {
        margin: 5px 0;
        color: gray;
      }

      .price {
        font-weight: bold;
        color: #000;
        .strike {
          margin-left: 8px;
          color: gray;
          text-decoration: line-through;
        }
      }
    }

    .remove-btn {
      cursor: pointer;
      font-size: 20px;
/* UI Properties */
color: #9D9D9D ;
opacity: 1;
    }
  }
}
