.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
h6{
    font-size: 25px;
    line-height: 33px;
    font-weight: medium;
    font-family: roboto;
    text-align: left;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}   
img{
    width: 66px;
    height: 73px;
    padding-top: 50px;
    padding-bottom: 50px;
}
p{
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    font-family: roboto;
    text-align: left;
    letter-spacing: 0px;
    color: #9D9D9D;
    opacity: 1;
    padding-top: 4px;
}
button{
    background-color: white;
    border: 1px solid #A03037;
    border-radius: 2px;
    opacity: 1;
    width: 127px; 
    height: 33px;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    font-family: roboto;
    text-align: center;
    letter-spacing: 0px;
    color: #A03037;
    opacity: 1;
    cursor: pointer;
}